body{
	background-color: black;
}
.bold {
	font-weight: bold;
	font-size: 1.2em;
}
#tube {
	width: 1140px;
	height: 500px;
	margin-bottom: 10px;
}
#url {
	color: white;
}
#enterbutton{
	margin-top:10px;
}
#searchbutton{
	margin-top:10px;
}
.white{
	color: white;
	text-align: center;
}
.whitetext{
	color: white;
}

.skip{
	margin-left: 20px;
	font-weight: bold;
	background-color: black;
	border: none;
	color: white;
	text-align: center;
	float: right;
}

.skip:hover{
	background-color: black;
}
.skip:active{
	background-color: black;
}
.skip:focus{
	background-color: black;
}
#videoqueue{
	list-style-type: none;
	overflow:auto;
	width: 100%;
	height: 100px;

}
#scroll{
	height: 100px;
	width: 100%;
}

